.crew-container {
    text-align: center;
    padding: 32px;
}

.crew-header {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 2em;
}

.crew-header h2 {    
    margin: 0;
    font-weight: 600;
}

.crew-header img {
    width: 70px;
}

.crew-members {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2em 1em;
    margin-top: 32px;
}