.crew-container {
    text-align: center;
    padding: 32px;
}

.crew-header {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 2em;
}

.crew-header h3 {
    font-size: 32px;    
    margin: 0;
}

.crew-header img {
    width: 70px;
}

.crew-members {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 32px;
}