.button {
    color: #FFF;
    background-color: var(--primary-blue);
    border: none;
    border-radius: 10px;
    font-size:1.2em;
    font-weight: 700;
    margin-top: 32px;
    padding: 24px;
    cursor: pointer;
}

.button:hover {
    color: #95FFD4;
}