.button {
    color: #FFF;
    background-color: var(--primary-blue);
    border: none;
    border-radius: 10px;
    font-size: 1.2em;
    font-weight: 700;
    min-width: 100px;
    padding: 0.8em 0.6em;
    cursor: pointer;
    box-shadow: 5px 5px 10px rgb(0 0 0 / 15%)
}

.button:hover {
    color: var(--hover-blue);
}

@media screen and (max-width: 425px) {
    .button {
        max-width: 155px;
        font-size: 1em;
        font-weight: 500;
    }
}