.pirateContainer {
    width: 185px;
    position: relative;   
    background: #FFFFFF;
    box-shadow: 5px 5px 15px 5px rgb(0 0 0 / 25%);
    border-radius: 10px;
    transition: transform 0.2s ease-out;
}

.pirateContainer:hover {
    transform: scale(1.1);
}

.pirateContainer .removeBtn {
    position: absolute;
    top: 6px;
    right: 8px;
    background-color: #FFF;
    border: none;
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
}

.pirateContainer .stripe {
    position: absolute;
    top: 35px;
    width: 100%;
    height: 70px;
    filter: opacity(60%) saturate(10);
}
.pirateContainer .picture {
    width: 115px;
    height: 115px;
    border-radius: 50%;
    position: relative;
    top: 15px;
}

.pirateContainer .content {
    margin: 0.5em auto;
}

.pirateContainer .content .title {
    font-size: 1.3em;
    font-weight: bold;
    margin: 1.2em auto .6em;
}

.pirateContainer .content p {
    font-size: 1.1em;    
}

.pirateContainer .content .captain {
    color: #FF0000;
}

@media screen and (max-width: 425px) {
    .pirateContainer {
        width: 130px;
    }

    .pirateContainer .stripe {
        height: 55px;
    }

    .pirateContainer .picture {
        width: 95px;
        height: 95px;
    }

    .pirateContainer .content .title {
        font-size: 1em;
    }
    
    .pirateContainer .content p {
        font-size: 1em;    
    }
}