.memorandum {
    width: 80%;
    font-family: var(--secondary-font);
    border: 1px solid var(--primary-blue);
    margin: 2.5em auto 1em;
    padding: 1.3em 1.7em;
}

.memorandum .noLineBreak {
    white-space: nowrap;
}

.memorandum .signature {
    text-align: right;
    margin-top: 1.4em;
}

.read-memorandum {
    display: none;
}

@media screen and (max-width: 425px) {
    .memorandum {
        max-height: 200px;
        margin: 1em auto;
        overflow: hidden;
        position: relative;
    }

    .read-memorandum {
        display: block;
        position: absolute;
        bottom: 0px;
        right: 0;
        background: #fff;
        box-shadow: 0 0 60px 50px #fff;
        padding: 1.2em 0;
        width: 100%;
        text-align: center;
    }

    .read-memorandum button {
        color: #FFF;
        background-color: var(--primary-blue);
        border: none;
        border-radius: 5px;
        padding: 0.5em 1.2em;
    }
}