.footerContainer {
    font-family: var(--heading-font);
    height: 150px;
    margin-top: 2em;
    background-color: var(--primary-blue);
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 0 1em;
}

.footerContainer p {
    color: #FFF;
    font-size: 1.2em;
}

@media screen and (max-width: 425px) {
    .footerContainer {
        height: 115px;
    }
}