.footerContainer {
    font-family: var(--heading-font);
    height: 200px;
    background-color: var(--primary-blue);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footerContainer .socials img {
    width: 32px;
    margin-right: 32px;
}

.footerContainer p {
    color: #FFF;
    font-size: 20px;
}