.memorandum {
    width: 80%;
    font-family: var(--secondary-font);
    border: 1px solid var(--primary-blue);
    margin: 2em auto;
    padding: .5em 1.5em;
}

.memorandum .signature {
    text-align: right;
    margin-top: 2em;
}

.registration-buttons {
    display: flex;
    justify-content: center;
    column-gap: 3em;
    margin: 2em auto;
}

.message {
    width: 80%;
    padding: 1.3em;
    margin: 2em auto;
    background-color: var(--secondary-blue);
    color: var(--primary-blue);
}

.crew-gallery {
    margin: 2em auto;
}