:root {
  --main-font: 'Roboto', 'Oxygen','Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  --secondary-font: 'Merriweather', serif;
  --heading-font: 'Gelasio', serif;
  --gallery-font: 'Quicksand', sans-serif;
  --primary-blue: #1C7ABF;
  --secondary-blue: #def8ff;
  --hover-blue: #95FFD4;
}

body {
  margin: 0;
  font-family: var(--main-font);
  font-size: 16px;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.7em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.3em;
}

h1, h2, h3, h4 {
  margin: .6em auto;
}

strong {
  font-weight: 600;
  color: var(--primary-blue);
}

.belly {
  vertical-align: middle;
  width: 12px;
  height: 20px;
  margin-right: .2em;
}
