.banner {
    font-family: var(--heading-font);
    background-color: #e2e2e2;
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.banner p {
    font-size: 40px;
    font-weight: 600;
    color: var(--primary-blue);
    text-decoration: underline;
    align-self: flex-end;
    margin-bottom: 15px;
}

.banner img {
    max-height: 80%;
}